{% extends 'base.html' %}

{% block titol %}Projecte Final De Carrera{% endblock %}

{% block contenido %}
	<table cellpadding="0" cellspacing="0" id="index_cnt">
        <tr><td id="cnt_top"></td></tr>
        <tr>
    		<td id="admin_body">
                <br />
				<div>
					<span id="sessio_esq">&nbsp;</span>
					<span id="sessio_login">
						<ul>
							<li>{{ user.username }}</li>
							<li><a href="/logout/">Tancar Sessi&oacute;</a></li>
						</ul>   
					</span>  
				</div>
				<form method="post" action="/novacarpeta/0/">{% csrf_token %}
					<table class="tamanyTaules">
						<tr>
							<td>
								{{ formulari.nom.label }}{{ formulari.nom }}
								<input type="submit" name="nova" value="Nova Carpeta">
								
							</td>
						</tr>
						<tr>
							<td>
								{% if pare == 'usuari' %}
								<a href="/usuari/">Cancel·lar</a>
								{% else %}
								<a href="/carpeta/{{ pare }}">Cancel·lar</a>	
								{% endif %}
							</td>
							<td>
								<input type="text" name="pare" value="{{ pare }}" class="invisible">
							</td>
						</tr>
					</table>
				</form>
                <br />
            </td>
        </tr>
        <tr><td id="login_pretail"></td></tr>
    </table>
{% endblock %}
